/*-- scss:uses --*/
@import "custom-cols.scss";

/*-- scss:defaults --*/
// $light: #f8f9fa;
// $dark: #343a40;
// $gray : #7a8288;
// $dark-gray : mix(#000, $gray, 40%);
// $darker-gray : mix(#000, $gray, 60%);
// $light-gray : mix(#fff, $gray, 50%);
// $lighter-gray : mix(#fff, $gray, 90%);

$link-color-hover : mix(#000, $link-color, 25%);
$link-color-visited : invert($link-color);
$masthead-link-color : $link-color;
$masthead-link-color-hover : mix(#000, $link-color, 25%);

$text-black: #343a40;
$text-white: rgba(white, .9);

// $nav-tabs-link-active-color: $link-color;

/*-- scss:rules --*/

.quarto-dark {
  //@extend [data-bs-theme="dark"];
  
  .brand-logo-light {
    display: none;
  }
}

.quarto-light {
  //@extend [data-bs-theme="light"];

  .brand-logo-dark {
    display: none;
  }
}