/*-- scss:defaults --*/

// https: //chir.ag/projects/name-that-color/
$sea-salt: #008080;
$coral: mix(white, #f97171, 40%);
$outer-space: #343a40;
$shark: #24292d; //scale-color($dark, $lightness: -30%);
$jet: #212529;
$magic-mint: #AAF0C1;

$cararra: #ebeae2;
$moon-mist: #e2e1d5;
$tundora: #414141;
$mine-shaft: #212121;
// $cape-cod: #3d4144;
// $charade: #2E3440;
// $woodsmoke: #131516; //OG Jet
// $cedar: #451616;
// $finch: #696946;
$cognac: #ab4522;
$berry-red: #920000;
$saddle: #4f2424;
$fun-green: #006E33;

$test: #1f2227;