/*-- scss:rules --*/

#quarto-header {
   border-bottom: 1px solid;
   border-bottom-color: $border-color;
}

footer.footer {
   border-top: 1px solid; 
   border-top-color: $border-color;
   background-color: $footer-bg;

   .nav-footer {
      @extend .container-fluid;
   }
}

ul.footer-items {
   li,
   >li {
      &:not(:first-child) {
         padding-left: 0.4em;
      }
   }
}