/*-- scss:rules --*/

.embeded-pdf {
  text-align: center;
}

.no-link {
  color: $secondary;
  text-decoration: none;
}

a.proj, a.paper {
  text-decoration: underline;
}

.callout.callout-style-default {
  border-right: none;
  border-top: none;
  border-bottom: 1px solid var(--bs-green);
}

.with p {
  margin-bottom: 0.25rem;
}

.journal {
  text-decoration: underline;
}

// .btn-xsm {
//   @extend .btn-sm;
//   --bs-btn-line-height: 1;
//   --bs-btn-padding-y: 
// }