/*-- scss:rules --*/

.embeded-pdf {
  text-align: center;
}

.no-link {
  color: $secondary;
  text-decoration: none;
}

a.proj, a.paper {
  text-decoration: underline;
}

.callout.callout-style-default {
  border-right: none;
  border-top: none;
  border-bottom: 1px solid var(--bs-green);
}

.with p {
  margin-bottom: 0.25rem;
}

.journal {
  text-decoration: underline;
}

.quarto-listing-sort .input-group-text {
  background-color: $body-bg;
}

.category {

  &:hover {
    color: $link-color-hover;
  }

  &.active {
    color: $link-color;
    font-style: italic;
    text-shadow: $link-shadow;
  }
}

div.quarto-listing-category {
  padding-left: 0.75em;
}

#quarto-margin-sidebar .quarto-listing-category-title {
  font-size: 1.2rem;
  text-decoration: underline dotted;
}

// .btn-xsm {
//   @extend .btn-sm;
//   --bs-btn-line-height: 1;
//   --bs-btn-padding-y: 
// }