/*-- scss:rules --*/

// body.floating, body.docked {
//   .sidebar.sidebar-navigation {
//       grid-column: screen-start-inset/body-start;
//   }
// } 

// body.docked .sidebar.sidebar-navigation{
//   grid-column: page-start/body-content-start;
// }

.sidebar-logo {
  // @extend .rounded-pill;
  // @extend .p-3;
  border-radius: 50%;
  padding: 5px !important;
  border: 1px solid;
  max-width: 70%;
  
  .docked & {
    max-width: 80%; // 70% w/ adjusted sidebar margin; 80% else
  } 
  
}

li.sidebar-item {
  font-size: .75em;
  line-height: 1.5;
  margin-bottom: 0.6rem;
  // margin-top: 0.5rem;
}

.sidebar.sidebar-navigation > *,
.sidebar-menu-container {
  padding-top: 0;
}

.navbar-title {
  // margin-right: 2rem;
  font-weight: bold;
}

.navbar-brand {
  overflow: unset;
  // text-overflow: "CTW";
  // --bs-navbar-brand-margin-end: 1.5rem;
}

.navbar {
  .navbar-brand-container {
    order: 1;
  }

  .navbar-toggler {
    order: 2;
    margin-right: auto;
  }

  #quarto-search {
    margin-left: .25rem;
  }

  .quarto-color-scheme-toggle {
    &.alternate,
    &:not(.alternate) {
      .bi::before {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(#{red($link-color)}, #{green($link-color)}, #{blue($link-color)}, 0.9)" class="bi bi-toggle-on" viewBox="0 0 16 16"><path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/></svg>');
      }
    }
  }

}

// .navbar .navbar-brand-container {
//   order: 1;
// }

// .navbar .navbar-toggler {
//   order: 2;
//   margin-right: auto;
// } 

// .navbar #quarto-search {
//   margin-left: .25rem;
// }

// .navbar .quarto-color-scheme-toggle{
//   &.alternate, &:not(.alternate) {
//     .bi::before {
//       background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(#{red($link-color)}, #{green($link-color)}, #{blue($link-color)}, 0.9)" class="bi bi-toggle-on" viewBox="0 0 16 16"><path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/></svg>');
//     }
//   }
// }

[data-bs-theme="dark"], [data-bs-theme="light"] {
  & .navbar-toggler-icon {
      --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(#{red($link-color)}, #{green($link-color)}, #{blue($link-color)}, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  } 
} 

.navbar-nav {
  .nav-item {
    align-self: center;
  }

  .nav-link {
    margin-right: .4rem;
    margin-left: .4rem;
    font-size: 1.1rem;
    text-align: center;

    .quarto-dark &.active {
      font-style: italic;
    }
  }
}

// .navbar-nav .nav-item {
//   align-self: center;
// }

// .navbar-nav .nav-link {
//   margin-right: .4rem;
//   margin-left: .4rem;
//   font-size: 1.1rem;
//   text-align: center;

//   .quarto-dark &.active {
//     font-style: italic;
//   }
// } 

.nav-tabs .nav-link.active {
  font-style: italic;
}

// .quarto-color-scheme-toggle {

//    &.alternate i::before {
//       content: "🌙";
//    }

//    i::before {
//       content: "🌞";
//    }
// }

// .navbar-container {
//   max-width: 1290px; 
// }

// ul.navbar-nav {
//   margin-left: 1rem;
// }